<!doctype html>
<html lang="en">
        <head>
                <meta charset="utf-8">
                <title>Stock Ticker</title>                
                <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
                <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">

        </head>
        <body>
                <div>
                        <h1>User Input</h1>
                        <h4>Please enter a stock ticker eg. GOOG, and check desired features.</h4>
                        <p>Ticker symbol:
                        <form action="/graph" method="POST">
                            <input type="text" name="text">
                            <input type="submit" name="my-form" value="Send">
                        </form>
                </div>
        </body>
</html>


