<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>User Input</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
                <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		  <script type=text/javascript>
		    $(function() {
     			 $("button").click(function() {
				 window.location.href='graph.html';
       			 return false;
     			 })
   		   });
 		 </script>


	</head>
	<body>
		<div>
  			<h1>Please enter a stock ticker eg. GOOG, and check desired features.</h1>
			<h2>Ticker symbol:</h2> <input type="text" size="20" name="a"> 
    			<p><button>Submit</button>
		</div>
	</body>
</html>
